@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Baloo 2', cursive;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  * *:before, * *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

/* Paleta de colores (palette 115 Coolors.co) 03045E (3,4,94) • 0077B6 (0,119,182) • 00B4D8 (0,180,216) • 90E0EF (144,224,239) • CAF0F8 (202,240,248)*/
.titulos, .titulosSecundarios, .titulosSecundarios2, .titulosSecundarios3 {
  text-align: center;
  text-decoration: solid;
  text-shadow: #03045E; }

nav {
  background-color: #0077b6;
  background: #03045e;
  background: -moz-linear-gradient(90deg, #03045e 0%, #0077b6 21%, #00b4d8 55%);
  background: -webkit-linear-gradient(90deg, #03045e 0%, #0077b6 21%, #00b4d8 55%);
  background: linear-gradient(90deg, #03045e 0%, #0077b6 21%, #00b4d8 55%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#03045e", endColorstr="#00b4d8", GradientType=1);
  object-fit: fill;
  transition: all ease-in-out 1s;
  border-bottom: 1.5px solid;
  padding: 5px;
  width: 100%;
  height: 65px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10; }

nav .logo {
  width: 100%; }

nav ul {
  position: absolute;
  top: 65px;
  left: 0;
  background: rgba(0, 179, 214, 0.75);
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: clip-path .8s ease-out;
  z-index: 50;
  list-style-type: none;
  text-decoration: none; }

nav ul .opciones {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 80;
  list-style-type: none;
  text-decoration: none; }

nav ul .opciones li {
  margin: 10px 0;
  list-style-type: none;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; }

nav ul .opciones li a {
  color: #FFFF;
  padding: 10px 30px;
  border-bottom: 2px solid transparent;
  transition: all ease-in .8s;
  text-decoration: none; }

nav ul .opciones li a:hover {
  border-bottom: 2px solid #0077B6;
  color: #FFFF; }

nav .menu {
  display: inline-block;
  width: 30px;
  height: 20px;
  position: relative;
  z-index: 20;
  cursor: pointer; }

nav .menu span {
  width: 100%;
  height: 4px;
  border-radius: 4px;
  display: block;
  position: absolute;
  background: #fff;
  transition: all 0.25s ease;
  transform-origin: 0px 100%; }

nav .menu span:nth-child(2) {
  top: calc(50% - 2px); }

nav .menu span:nth-child(3) {
  bottom: 0; }

.animacionMenu span:nth-child(1) {
  transform: rotate(45deg) translate(-2px, 1px); }

.animacionMenu span:nth-child(2) {
  opacity: 0; }

.animacionMenu span:nth-child(3) {
  transform: rotate(-45deg) translate(-3px, 3px); }

.menu {
  display: inline-block;
  width: 30px;
  height: 20px;
  position: relative;
  z-index: 20;
  cursor: pointer; }
  .menu span {
    width: 100%;
    height: 4px;
    border-radius: 4px;
    display: block;
    position: absolute;
    background: #fff;
    transition: all 0.25s ease;
    transform-origin: 0px 100%; }
  .menu span:nth-child(2) {
    top: calc(50% - 2px); }
  .menu span:nth-child(3) {
    bottom: 0; }

.animacionMenu span:nth-child(1) {
  transform: rotate(45deg) translate(-2px, 1px); }

.animacionMenu span:nth-child(2) {
  opacity: 0; }

.animacionMenu span:nth-child(3) {
  transform: rotate(-45deg) translate(-3px, 3px); }

.activeMenu {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }

@media screen and (min-width: 768px) {
  nav ul {
    position: initial;
    clip-path: none; }
    nav ul .opciones {
      flex-direction: row;
      justify-content: flex-end; }
      nav ul .opciones li {
        margin: 0 10px;
        width: auto; }
        nav ul .opciones li a {
          margin: 0;
          padding: 0;
          text-decoration: none; }
  nav .menu {
    display: none; } }

@media screen and (min-width: 1024px) {
  nav {
    height: 70px; }
    nav ul .opciones {
      margin: 10px 0;
      list-style-type: none;
      text-decoration: none;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap; }
      nav ul .opciones li {
        width: 110px; }
        nav ul .opciones li a {
          font-weight: bold;
          letter-spacing: 1.2px; }
    nav .menu {
      display: none; } }

.menuPrincipal {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  align-self: center;
  justify-content: center;
  text-decoration: none;
  list-style: none;
  padding: 3px;
  flex-wrap: wrap; }

.menuPrincipal__item {
  align-items: center;
  justify-items: center;
  align-self: center;
  align-content: center;
  margin: 2px;
  padding: 6px;
  border: solid 2px #0077B6;
  border-radius: 6px;
  background: whitesmoke;
  font-weight: 500;
  font-size: medium; }

.menuPrincipal__item:hover {
  transition: all 1ms;
  transform: scale(1.1); }

.menuPrincipal__item a {
  text-decoration: none;
  align-content: center; }

.menuPrincipal__item :hover {
  box-shadow: 0 3px 9px #00b4d8; }

.titulos {
  text-align: center;
  font-size: xx-large;
  margin-top: .3em;
  color: #CAF0F8;
  text-decoration: solid;
  text-shadow: #03045E;
  text-decoration-color: #0077B6; }

.titulosSecundarios {
  text-align: center;
  font-size: xx-large;
  margin-left: 0.5em;
  margin-top: 0.5em;
  color: #0077B6;
  text-decoration: solid;
  text-shadow: #03045E; }

.titulosSecundarios2 {
  text-align: center;
  font-size: 2.5em;
  margin-left: 0.5em;
  margin-top: 0.5em;
  color: #0077B6;
  text-decoration: solid;
  text-shadow: #03045E; }

.titulosSecundarios3 {
  text-align: center;
  font-size: 1.5em;
  margin-left: 0.5em;
  margin-top: 0.5em;
  color: black;
  text-decoration: solid;
  text-shadow: #03045E; }

.cabecera {
  background-color: #0077b6;
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 30px;
  padding: 10px; }

.cabecera__item {
  background-color: #0077b6;
  text-decoration: none;
  margin: 30px;
  padding: 10px; }

.change-my-color {
  filter: sepia(100%) saturate(795%) hue-rotate(188deg) brightness(117%) contrast(100%);
  height: 45px;
  width: 150px; }

.titulos, .titulosSecundarios, .titulosSecundarios2, .titulosSecundarios3 {
  text-align: center;
  text-decoration: solid;
  text-shadow: #03045E; }

.menuPrincipal {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-decoration: none;
  list-style: none;
  padding: 3px;
  flex-wrap: wrap;
  align-self: end;
  justify-self: end; }

.menuPrincipal__item {
  align-items: center;
  justify-items: center;
  align-self: center;
  align-content: center;
  margin: 2px;
  padding: 6px;
  border: solid 2px #0077B6;
  border-radius: 6px;
  background: whitesmoke;
  font-weight: 500;
  font-size: medium; }

.menuPrincipal__item:hover {
  transition: all 1ms;
  transform: scale(1.1); }

.menuPrincipal__item a {
  text-decoration: none;
  align-content: center; }

.menuPrincipal__item :hover {
  box-shadow: 0 3px 9px #00B4D8; }

.titulos {
  font-size: xx-large;
  margin-top: .3em;
  color: #CAF0F8;
  text-decoration-color: #0077B6; }

.titulosSecundarios {
  font-size: xx-large;
  margin-left: 0.5em;
  margin-top: 0.5em;
  color: #0077B6; }

.titulosSecundarios2 {
  font-size: 2.5em;
  margin-left: 0.5em;
  margin-top: 0.5em;
  color: #0077B6; }

.titulosSecundarios3 {
  font-size: 1.5em;
  margin-left: 0.5em;
  margin-top: 0.5em;
  color: black; }

.cabecera {
  background-color: #0077B6;
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 30px;
  padding: 10px; }

.cabecera__item {
  background-color: #0077B6;
  text-decoration: none;
  margin: 30px;
  padding: 10px; }

body {
  background-color: #f6f9f9;
  z-index: 10000; }

.seccionMain {
  margin: 5px;
  padding: 5px;
  position: relative;
  top: 65px; }

main ul {
  list-style: none; }

.mainPresentation {
  margin: 5px;
  padding: 5px;
  width: 90%;
  justify-content: start;
  align-content: start;
  display: flex;
  align-items: center;
  justify-content: center; }

.mainPresentation img {
  margin: 0px;
  padding: 10px;
  height: 400px;
  width: 400px;
  object-fit: contain;
  align-items: center;
  align-self: center; }

.firstText {
  margin: 15px 10px 10px 0px;
  padding: 5px;
  grid-area: texto; }

article {
  margin: 1px;
  padding: 1px;
  grid-column: 1/3;
  grid-area: article; }

article ol {
  margin: 10px;
  padding: 1px;
  margin-left: 30px; }

.articleText {
  margin-top: 10px; }

.mainVideo {
  display: flex;
  align-self: center;
  justify-content: center; }

video {
  display: block;
  margin: 1em auto;
  width: 70%;
  height: calc(.5625 * 70vw); }

.row {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0;
  clear: both; }

.row img {
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: 0; }

.gallery ul li {
  float: left;
  margin: 0 0.8771929825%;
  overflow: hidden; }

.gallery {
  padding: 40px 0 300px;
  position: relative;
  overflow: hidden; }

.gallery ul {
  padding-top: 50px;
  position: relative; }

.gallery ul li {
  margin-bottom: 20px;
  width: 23.2456140351%;
  position: relative; }

.gallery ul li a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 0; }

.gallery ul li a:before {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 40%;
  left: 50%;
  margin: -14px 0 0 -16px;
  background: url(data:image/svg+xml;utf8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2017.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%0A%09%20id%3D%22svg2%22%20xmlns%3Adc%3D%22http%3A//purl.org/dc/elements/1.1/%22%20xmlns%3Acc%3D%22http%3A//creativecommons.org/ns%23%22%20xmlns%3Ardf%3D%22http%3A//www.w3.org/1999/02/22-rdf-syntax-ns%23%22%20xmlns%3Asvg%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Asodipodi%3D%22http%3A//sodipodi.sourceforge.net/DTD/sodipodi-0.dtd%22%20xmlns%3Ainkscape%3D%22http%3A//www.inkscape.org/namespaces/inkscape%22%20inkscape%3Aversion%3D%220.48.4%20r9939%22%20sodipodi%3Adocname%3D%22icon-fullscreen.svg%22%0A%09%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%20960%20560%22%0A%09%20enable-background%3D%22new%200%200%20960%20560%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Csodipodi%3Anamedview%20%20borderopacity%3D%221%22%20pagecolor%3D%22%23ffffff%22%20bordercolor%3D%22%23666666%22%20objecttolerance%3D%2210%22%20gridtolerance%3D%2210%22%20guidetolerance%3D%2210%22%20showgrid%3D%22false%22%20fit-margin-top%3D%220%22%20fit-margin-left%3D%220%22%20inkscape%3Azoom%3D%227.375%22%20inkscape%3Acx%3D%22-5.1525424%22%20inkscape%3Acy%3D%2216%22%20id%3D%22namedview11%22%20inkscape%3Awindow-x%3D%22-8%22%20inkscape%3Awindow-y%3D%22-8%22%20fit-margin-right%3D%220%22%20inkscape%3Apageopacity%3D%220%22%20fit-margin-bottom%3D%220%22%20inkscape%3Awindow-width%3D%221366%22%20inkscape%3Awindow-height%3D%22706%22%20inkscape%3Awindow-maximized%3D%221%22%20inkscape%3Apageshadow%3D%222%22%20inkscape%3Acurrent-layer%3D%22svg2%22%3E%0A%09%3C/sodipodi%3Anamedview%3E%0A%3Cg%3E%0A%09%3Crect%20x%3D%22220%22%20y%3D%22260%22%20fill%3D%22%23FFFFFF%22%20width%3D%22536%22%20height%3D%2224%22/%3E%0A%3C/g%3E%0A%3Cg%3E%0A%09%3Crect%20x%3D%22476%22%20y%3D%224%22%20fill%3D%22%23FFFFFF%22%20width%3D%2224%22%20height%3D%22556%22/%3E%0A%3C/g%3E%0A%3C/svg%3E%0A) no-repeat;
  content: "";
  opacity: 0;
  z-index: 1;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear; }

.gallery ul li a:hover:before {
  top: 50%;
  opacity: 1; }

.gallery ul li a:after {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  content: "";
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear; }

.gallery ul li a:hover:after {
  opacity: 1; }

.port {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding-top: 100px;
  background: #ffffff;
  background-color: #fafafa;
  z-index: 103;
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  border-bottom: 1px solid #d0d0d0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

.port img {
  width: 50%; }

.port .description {
  float: left;
  width: 50%;
  max-height: 100%;
  padding: 0 40px 40px;
  overflow: auto; }

.port h1 {
  font-size: 35px;
  line-height: 2.3;
  padding: 0; }

.port > * {
  opacity: 0;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear; }

.port.item_open {
  visibility: visible;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.port > * {
  opacity: 1;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s; }

.close {
  width: 21px;
  height: 21px;
  background: url(data:image/svg+xml;utf8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2017.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%0A%09%20id%3D%22svg2%22%20xmlns%3Adc%3D%22http%3A//purl.org/dc/elements/1.1/%22%20xmlns%3Acc%3D%22http%3A//creativecommons.org/ns%23%22%20xmlns%3Ardf%3D%22http%3A//www.w3.org/1999/02/22-rdf-syntax-ns%23%22%20xmlns%3Asvg%3D%22http%3A//www.w3.org/2000/svg%22%0A%09%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2021%2021%22%0A%09%20enable-background%3D%22new%200%200%2021%2021%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%20id%3D%22layer1%22%20transform%3D%22translate%280%2C-1031.3622%29%22%3E%0A%09%3Cpath%20id%3D%22path2987%22%20fill%3D%22none%22%20stroke%3D%22%23000000%22%20d%3D%22M0%2C1031.4l21%2C21%22/%3E%0A%09%3Cpath%20id%3D%22path2989%22%20fill%3D%22none%22%20stroke%3D%22%23000000%22%20d%3D%22M21%2C1031.4l-21%2C21%22/%3E%0A%3C/g%3E%0A%3C/svg%3E%0A%0A) no-repeat;
  position: absolute;
  right: 10px;
  top: -121px;
  opacity: 1;
  z-index: 1004;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }

.item_open .close {
  opacity: 1;
  top: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

/*Staff*/
.headerStaff {
  z-index: 100000; }

.body {
  background-color: #0e2c17;
  z-index: 10000; }

.staffCards {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 75vh;
  background: #efefef;
  flex-wrap: wrap; }

.card {
  position: relative;
  width: 300px;
  height: 400px;
  background: #FFFF;
  border-radius: 5px;
  overflow: hidden;
  transition: .5s;
  margin: 15px 20px;
  display: inline-block; }
  .card:hover {
    box-shadow: 0 5px 15px #00B4D8;
    transform: translateY(-15px); }
  .card .head {
    height: 125px;
    width: 100%;
    position: relative; }
  .card .head .circle {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: #00B4D8;
    bottom: 0; }
  .card .head .img {
    width: 150px;
    height: 150px;
    position: absolute;
    background: #FFFF;
    padding: 5px;
    border-radius: 50%;
    bottom: -30%;
    left: 50%;
    transform: translate(-50%); }
  .card .head .img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover; }
  .card .description {
    height: 200px;
    padding: 40px 20px 20px 20px;
    border-bottom: solid 1px #03045E;
    text-align: center; }
  .card .description h3 {
    color: #03045E; }
  .card .description h4 {
    color: #0077B6;
    font-size: large; }
  .card .description p {
    margin-top: 20px;
    font-size: 15px; }
  .card .contact {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center; }
  .card .contact a {
    text-decoration: none;
    color: #FFFF;
    background: #0077B6;
    padding: 5px 20px;
    border-radius: 5px;
    transition: .3s; }
  .card .contact a:hover {
    background: #03045E; }

footer {
  background-color: #00B4D8;
  background-image: url(../images/stacked-waves-haikei.svg);
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat; }

.whatsapp {
  display: flex;
  overflow: hidden;
  cursor: pointer;
  align-items: flex-end;
  position: fixed;
  justify-content: right;
  bottom: 1%;
  right: 1%; }
  .whatsapp img {
    width: 55px;
    height: 55px; }

/*Planes*/
.mainPlanes {
  margin: 2em; }

main ul {
  margin: 2em; }

main ul li {
  margin: 1em;
  text-decoration: underline; }

main ul div {
  justify-content: center;
  align-items: baseline;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: row;
  list-style-type: georgian; }

main ul div p {
  margin: 1em; }

main ul div img {
  margin: 1em;
  padding: 0.5em;
  width: 450px;
  height: 350px;
  object-fit: fill;
  align-self: flex-start;
  border-radius: 6px;
  border: solid #0077B6; }

.contenedorForm {
  display: flex;
  flex-direction: column;
  margin: 0; }

.contactForm {
  margin: 0.3em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: start;
  justify-content: start; }

main h3 {
  margin: 1em; }

main h4 {
  margin-left: 1.5em; }

main div section iframe {
  margin: 1em; }

.contactFormHtml {
  width: 360px;
  margin: 0.5em;
  padding: 1px;
  display: flex;
  flex-direction: column;
  background-color: #0077B6;
  border: solid 2px #03045E;
  border-radius: 8px; }

.contactForm div {
  margin: 8px;
  padding: 5px;
  align-self: flex-end; }

.contactForm button {
  margin-right: 15px;
  width: 100px;
  height: 35px;
  align-self: flex-end; }

.avisoCamposObligatorios {
  justify-content: baseline; }

.contenedorMap {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  margin-bottom: 1.5em; }

.contenedorMap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.direccionContacto {
  display: flex;
  flex-direction: column;
  margin-top: 1.5em; }

/*Media Queries*/
@media screen and (max-width: 768px) {
  /*Index*/
  .mainPresentation {
    margin: 5px;
    padding: 5px;
    width: 90%;
    justify-content: start;
    align-content: start;
    display: flex;
    align-items: center;
    justify-content: center; }
  /*Lecciones*/
  main ul div {
    justify-content: center;
    align-items: baseline;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-flow: row;
    list-style-type: georgian; }
  /*Contacto*/
  .contactForm {
    grid-template-columns: 1fr; }
  .contactFormHtml {
    width: 320px;
    margin: 0.5em;
    padding: 1px;
    display: flex;
    flex-direction: column;
    background-color: #0077B6;
    border: solid 2px #03045E;
    border-radius: 8px; }
  .whatsapp {
    display: flex;
    border: none;
    cursor: pointer;
    align-items: flex-end;
    position: fixed;
    justify-content: right;
    bottom: 15%;
    right: 3%; }
  .whatsapp img {
    width: 65px;
    height: 65px; } }

@media screen and (max-width: 480px) {
  .mainPresentation {
    margin: 5px;
    padding: 5px;
    width: 90%;
    justify-content: start;
    align-content: start;
    display: flex;
    align-items: center;
    justify-content: center; }
  .mainPresentation img {
    min-width: 200px;
    width: 250px;
    height: 250px; }
  .firstText {
    margin: 10px; }
  .mainVideo {
    margin-left: 0.5em;
    width: 480px;
    height: 270px; }
  .whatsapp {
    display: flex;
    border: none;
    cursor: pointer;
    align-items: flex-end;
    position: fixed;
    justify-content: right;
    bottom: 10%;
    right: 4%; }
  .whatsapp img {
    width: 55px;
    height: 55px; }
  .contactFormHtml {
    width: 310px;
    margin: 0.5em;
    padding: 1px;
    display: flex;
    flex-direction: column;
    background-color: #0077B6;
    border: solid 2px #03045E;
    border-radius: 8px; } }
