* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo 2', cursive;
    /* font-weight: 200; */
}

/* Paleta de colores (palette 115 Coolors.co) 03045E (3,4,94) • 0077B6 (0,119,182) • 00B4D8 (0,180,216) • 90E0EF (144,224,239) • CAF0F8 (202,240,248)*/
/*Index*/

header {

    background-color: rgb(0, 119, 182);
    background: rgb(3, 4, 94);
    background: -moz-linear-gradient(90deg, rgba(3, 4, 94, 1) 0%, rgba(0, 119, 182, 1) 21%, rgba(0, 180, 216, 1) 55%);
    background: -webkit-linear-gradient(90deg, rgba(3, 4, 94, 1) 0%, rgba(0, 119, 182, 1) 21%, rgba(0, 180, 216, 1) 55%);
    background: linear-gradient(90deg, rgba(3, 4, 94, 1) 0%, rgba(0, 119, 182, 1) 21%, rgba(0, 180, 216, 1) 55%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#03045e", endColorstr="#00b4d8", GradientType=1);
    object-fit: fill;
    font-size: medium;
    position: sticky;
    min-height: min-content;
    max-height: max-content;
    top: 0;
    display: grid;
    align-content: start;
    justify-content: start;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-columns: min-content;
    grid-auto-rows: min-content;
}

header a {
    padding-top: 7px;
    padding-left: 10px;
    justify-self: start;
    align-self: center;
}

nav {
    justify-self: end;
    align-self: end;
}

nav ul li a {
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-self: center;
    justify-self: center;
}

.menuPrincipal {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    align-self: center;
    justify-content: center;
    text-decoration: none;
    list-style: none;
    padding: 3px;
    flex-wrap: wrap;
}

.navbar {
    border-radius: 6px;
    background-color: #00B4D8;
}

.menuPrincipal__item {

    align-items: center;
    justify-items: center;
    align-self: center;
    align-content: center;
    margin: 2px;
    padding: 6px;
    border: solid 2px #0077B6;
    border-radius: 6px;
    background: whitesmoke;
    font-weight: 500;
    font-size: medium;
}

.menuPrincipal__item:hover {
    transition: all 1ms;
    transform: scale(1.1);
}

.menuPrincipal__item a {
    text-decoration: none;
    align-content: center;
}

.menuPrincipal__item :hover {
    box-shadow: 0 3px 9px rgb(0, 180, 216);
}

.titulos {
    text-align: center;
    font-size: xx-large;
    margin-top: .3em;
    color: #CAF0F8;
    text-decoration: solid;
    text-shadow: #03045E;
    text-decoration-color: #0077B6;
}

.titulosSecundarios {
    text-align: center;
    font-size: xx-large;
    margin-left: 0.5em;
    margin-top: 0.5em;
    color: #0077B6;
    text-decoration: solid;
    text-shadow: #03045E;
}

.titulosSecundarios2 {
    text-align: center;
    font-size: 2.5em;
    margin-left: 0.5em;
    margin-top: 0.5em;
    color: #0077B6;
    text-decoration: solid;
    text-shadow: #03045E;
}

.titulosSecundarios3 {
    text-align: center;
    font-size: 1.5em;
    margin-left: 0.5em;
    margin-top: 0.5em;
    color: black;
    text-decoration: solid;
    text-shadow: #03045E;
}

.cabecera {
    background-color: rgb(0, 119, 182);
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 30px;
    padding: 10px;
}

.cabecera__item {
    background-color: rgb(0, 119, 182);
    text-decoration: none;
    margin: 30px;
    padding: 10px;
}

body {
    background-color: #f6f9f9;
}

.seccionMain {
    margin: 5px;
    padding: 5px;
}



main ul {
    list-style: none;
}

.mainPresentation {
    margin: 5px;
    padding: 5px;
    width: 90%;
    justify-content: start;
    align-content: start;
    display: grid;
    
    grid-template-columns: repeat(3, minmax(min-content, max-content));
    grid-template-areas:
        "foto texto"
        "foto article";
}

.mainPresentation img {

    margin: 0px;
    padding: 10px;
    height: 400px;
    width: 400px;
    object-fit: contain;
    grid-column: 1;
    grid-area: foto;
}

.firstText {

    margin: 15px 10px 10px 0px;
    padding: 5px;
    grid-area: texto;
}

article {

    margin: 1px;
    padding: 1px;
    grid-column: 1/3;
    grid-area: article;

}

article ol {

    margin: 10px;
    margin-left: 30px;
    padding: 1px;
}

.articleText {

    margin-top: 10px;
}

.mainVideo {

    display: flex;
    align-self: center;
    justify-content: center;
}

.mainVideo__item {

    margin: 10px;
    padding: 10px;
    min-width: fit-content;
}

footer {
    background-color: #00B4D8;
    background-image: url(../images/stacked-waves-haikei.svg);
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
}


.whatsapp {

    display: flex;
    border: none;
    cursor: pointer;
    align-items: flex-end;
    position: fixed;
    justify-content: right;
    bottom: 35%;
    right: 5%;
}

.whatsapp img {

    width: 45px;
    height: 45px;
}




/*Contacto*/

.contenedorForm{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.contactForm {
    margin: 0.3em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: start;
    justify-content: start;
}


main h3 {
    margin: 1em;
}

main h4 {
    margin-left: 1.5em;
}

main div section iframe {
    margin: 1em;
}


.contactFormHtml {
    width: 350px;
    margin: 0.5em;
    padding: 1px;
    display: flex;
    flex-direction: column;
    background-color: #0077B6;
    border: solid 2px #03045E;
    border-radius: 8px;
}

.contactForm div {

    margin: 8px;
    padding: 5px;
    align-self: flex-end;
}

.contactForm button {
    margin-right: 15px;
    width: 100px;
    height: 35px;
    align-self: flex-end;
}

.avisoCamposObligatorios {
    justify-content: baseline;
}

.contenedorMap{

    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.contenedorMap iframe{

    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}


.direccionContacto{
    display: flex;
    flex-direction: column;
    margin-top: 1.5em;
}
/*Planes*/
/*Lecciones*/

main ul {
    margin: 2em;
}

main ul li {
    margin: 1em;
    text-decoration: underline;

}

main ul div {
    justify-content: center;
    align-items: baseline;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;

    list-style-type: georgian;
}

main ul div p {

    margin: 1em;
}

main ul div img {
    margin: 1em;
    padding: 0.5em;
    width: 450px;
    height: 350px;
    object-fit: fill;
    align-self: flex-start;
    border-radius: 6px;
    border: solid #0077B6;

}



/*Media Queries*/

@media screen and (max-width: 768px) {

    /*Index*/
    .mainPresentation {

        display: grid;
        align-content: stretch;
        grid-template-columns: 1;
        grid-template-areas:
            "foto"
            "texto"
            "article";
    }

    /*Lecciones*/
    main ul div {
        justify-content: center;
        align-items: baseline;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-flow: row;
        list-style-type: georgian;
    }

    /*Contacto*/
    main div section iframe {
        margin: 0.7em;
    }
    .contactForm {
        grid-template-columns: 1fr;
    }

    .contactFormHtml {
        width: 300px;
        margin: 0.3em;
        padding: 1px;
        display: flex;
        flex-direction: column;
        background-color: #0077B6;
        border: solid 2px #03045E;
        border-radius: 8px;
    }

    .whatsapp {

        display: flex;
        border: none;
        cursor: pointer;
        align-items: flex-end;
        position: fixed;
        justify-content: right;
        bottom: 5%;
        right: 7%;
    }
    
    .whatsapp img {
    
        width: 35px;
        height: 35px;
    }

}
/*Media query celu*/
@media screen and (max-width: 480px) {

    header {
        grid-template-columns: 1fr;
        grid-auto-flow: column;
        grid-auto-rows: min-content;
    }

    .mainPresentation {

        display: grid;
        align-content:flex-start;
        grid-template-columns: 1;
        grid-template-areas:
            "foto"
            "texto"
            "article";
    }

    .mainPresentation img {
        min-width: 200px;
        width: 250px;
        height: 250px;
    }

    .firstText {
        margin: 10px;
    }

    .mainVideo {
        margin-left: 0.5em;
        width: 480px;
        height: 270px;
    }

    /*Contacto*/
    main div section iframe {
        margin: 0.5em;
    }
    .contactFormHtml {
        width: 260px;
        margin: 0.5em;
        padding: 1px;
        display: flex;
        flex-direction: column;
        background-color: #0077B6;
        border: solid 2px #03045E;
        border-radius: 8px;
    }

     .whatsapp {

        display: flex;
        border: none;
        cursor: pointer;
        align-items: flex-end;
        position: fixed;
        justify-content: right;
        bottom: 20%;
        right: 10%;
    }
    
    .whatsapp img {
    
        width: 35px;
        height: 35px;
    }
}