.classBodyCarrito{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#tituloCarrito{
    display: none;
}

.footerCarrito {

    margin-top: auto;
}

.contentCarrito{

    margin: 1em;

}


input{

    width: 450px;
}