footer {
    background-color: $color-principal-normal;
    background-image: url(../images/stacked-waves-haikei.svg);
    object-fit: cover;
}



.whatsapp {

    display: flex;
    border: none;
    cursor: pointer;
    align-items: flex-end;
    position: fixed;
    justify-content: right;
    bottom: 35%;
    right: 5%;

    & img {

        width: 45px;
        height: 45px;
    }
}

