footer {
    background-color: map-get($colores , "color-principal-normal");
    background-image: url(../images/stacked-waves-haikei.svg);
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
}



.whatsapp {

    display: flex;
    overflow: hidden;
    cursor: pointer;
    align-items: flex-end;
    position: fixed;
    justify-content: right;
    bottom: 1%;
    right: 1%;

    & img {

        width: 55px;
        height: 55px;
    }
}

