@import './base/extends';


.menuPrincipal {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    list-style: none;
    padding: 3px;
    flex-wrap: wrap;
    @include AlineaJustificaSelf(end, end);

}


.menuPrincipal__item {

    align-items: center;
    justify-items: center;
    align-self: center;
    align-content: center;
    margin: 2px;
    padding: 6px;
    border: solid 2px #0077B6;
    border-radius: 6px;
    background: whitesmoke;
    font-weight: 500;
    font-size: medium;
}

.menuPrincipal__item:hover {
    transition: all 1ms;
    transform: scale(1.1);
}

.menuPrincipal__item a {
    text-decoration: none;
    align-content: center;
}

.menuPrincipal__item :hover {
    box-shadow: 0 3px 9px map-get($colores , "color-principal-normal");
}

.titulos {
    
    @extend %titulo;
    font-size: xx-large;
    margin-top: .3em;
    color: #CAF0F8;
    text-decoration-color: map-get($colores , "color-principal-fuerte");
}

.titulosSecundarios {

    @extend %titulo;
    font-size: xx-large;
    margin-left: 0.5em;
    margin-top: 0.5em;
    color: map-get($colores , "color-principal-fuerte");

}

.titulosSecundarios2 {
   @extend %titulo; 
    font-size: 2.5em;
    margin-left: 0.5em;
    margin-top: 0.5em;
    color: map-get($colores , "color-principal-fuerte");
}

.titulosSecundarios3 {
    @extend %titulo;
    font-size: 1.5em;
    margin-left: 0.5em;
    margin-top: 0.5em;
    color: black;
}

.cabecera {
    background-color: map-get($colores , "color-principal-fuerte");
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    list-style: none;

    @include MarginPadding(30px, 10px);

}

.cabecera__item {
    background-color: map-get($colores , "color-principal-fuerte");
    text-decoration: none;
    @include MarginPadding(30px, 10px);
}

body {
    background-color: #f6f9f9;
    z-index: 10000;
}

.seccionMain {
    @include MarginPadding(5px, 5px);
}



main ul {
    list-style: none;
}

.mainPresentation {

    @include MarginPadding(5px, 5px);
    width: 90%;
    justify-content: start;
    align-content: start;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainPresentation img {

    @include MarginPadding(0px, 10px);
    height: 400px;
    width: 400px;
    object-fit: contain;
    align-items: center;
    align-self: center;
}

.firstText {

    margin: 15px 10px 10px 0px;
    padding: 5px;
    grid-area: texto;
}

article {

    @include MarginPadding(1px, 1px);
    grid-column: 1/3;
    grid-area: article;

}

article ol {
    @include MarginPadding(10px, 1px);
    margin-left: 30px;
}

.articleText {

    margin-top: 10px;
}

.mainVideo {

    display: flex;
    align-self: center;
    justify-content: center;
}

video {
    display: block;
    margin: 1em auto;
    width: 70%;
    height: calc(.5625 * 70vw);
}
