%titulo{
    text-align: center;
    text-decoration: solid;
    text-shadow: map-get($colores, "color-principal-muy-fuerte");
}

@mixin AlineaJustificaSelf($align, $justify){
    align-self: $align;
    justify-self: $justify;
}

@mixin MarginPadding($margin, $padding){
    margin: $margin;
    padding: $padding;
}