%titulo{
    text-align: center;
    text-decoration: solid;
    text-shadow: map-get($colores, "color-principal-muy-fuerte");
}

@mixin AlineaJustifica($align, $justify){
    align-self: $align;
    justify-self: $justify;
}

