/*Media Queries*/

@media screen and (max-width: 768px) {

    /*Index*/
    .mainPresentation {

        display: grid;
        align-content: stretch;
        grid-template-columns: 1;
        grid-template-areas:
            "foto"
            "texto"
            "article";
    }

    /*Lecciones*/
    main ul div {
        justify-content: center;
        align-items: baseline;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-flow: row;
        list-style-type: georgian;
    }

    /*Contacto*/

    .contactForm {
        grid-template-columns: 1fr;
    }


    .whatsapp {

        display: flex;
        border: none;
        cursor: pointer;
        align-items: flex-end;
        position: fixed;
        justify-content: right;
        bottom: 35%;
        right: 20%;
    }
    
    .whatsapp img {
    
        width: 35px;
        height: 35px;
    }

}

@media screen and (max-width: 480px) {

    header {
        grid-template-columns: 1fr;
        grid-auto-flow: column;
        grid-auto-rows: min-content;
    }

    .mainPresentation {

        display: grid;
        align-content:flex-start;
        grid-template-columns: 1;
        grid-template-areas:
            "foto"
            "texto"
            "article";
    }

    .mainPresentation img {
        min-width: 200px;
        width: 250px;
        height: 250px;
    }

    .firstText {
        margin: 10px;
    }

    .mainVideo {
        margin-left: 0.5em;
        width: 480px;
        height: 270px;
    }

     .whatsapp {

        display: flex;
        border: none;
        cursor: pointer;
        align-items: flex-end;
        position: fixed;
        justify-content: right;
        bottom: 20%;
        right: 23%;
    }
    
    .whatsapp img {
    
        width: 35px;
        height: 35px;
    }
}