/*Media Queries*/

@media screen and (max-width: 768px) {

    /*Index*/
    .mainPresentation {

        @include MarginPadding(5px, 5px);
        width: 90%;
        justify-content: start;
        align-content: start;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /*Lecciones*/
    main ul div {
        justify-content: center;
        align-items: baseline;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-flow: row;
        list-style-type: georgian;
    }

    /*Contacto*/

    .contactForm {
        grid-template-columns: 1fr;
    }

    .contactFormHtml {
        width: 320px;
        margin: 0.5em;
        padding: 1px;
        display: flex;
        flex-direction: column;
        background-color: #0077B6;
        border: solid 2px #03045E;
        border-radius: 8px;
    }
    
    .whatsapp {

        display: flex;
        border: none;
        cursor: pointer;
        align-items: flex-end;
        position: fixed;
        justify-content: right;
        bottom: 15%;
        right: 3%;
    }
    
    .whatsapp img {
    
        width: 55px;
        height: 55px;
    }

}

@media screen and (max-width: 480px) {

    .mainPresentation {

        @include MarginPadding(5px, 5px);
        width: 90%;
        justify-content: start;
        align-content: start;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mainPresentation img {
        min-width: 200px;
        width: 250px;
        height: 250px;
    }

    .firstText {
        margin: 10px;
    }

    .mainVideo {
        margin-left: 0.5em;
        width: 480px;
        height: 270px;
    }

     .whatsapp {

        display: flex;
        border: none;
        cursor: pointer;
        align-items: flex-end;
        position: fixed;
        justify-content: right;
        bottom: 10%;
        right: 4%;
    }
    
    .whatsapp img {
    
        width: 45px;
        height: 45px;
    }


    .contactFormHtml {
        width: 310px;
        margin: 0.5em;
        padding: 1px;
        display: flex;
        flex-direction: column;
        background-color: #0077B6;
        border: solid 2px #03045E;
        border-radius: 8px;
    }
}